<%- include('partials/header') %>


<div class="jumbotron centered">
    <div class="container">
        <h1 class="display-3">Added</h1>
        <p class="lead">Go to CoursePage</p>
        <hr>
    </div>
</div>

<%- include('partials/footer') %>
