<%- include('partials/header') %>


<div class="jumbotron centered">
    <div class="container">
        <h1 class="display-3">WELCOME</h1>
        <p class="lead">Refer ReadMe for different Endpoints available</p>
        <hr>
    </div>
</div>

<%- include('partials/footer') %>
